TWELVE_DATA_API_KEY=
TWELVE_DATA_BASE_URL=https://api.twelvedata.com
MARKET_SYMBOL=XAU/USD
DXY_SYMBOL=DXY
META_KIT_BASE_URL=
META_KIT_API_KEY=
MT5_BASE_URL=
MT5_API_KEY=
API2TRADE_API_KEY=
API2TRADE_ACCOUNT_ID=
API2TRADE_DEFAULT_VOLUME=0.01
API2TRADE_EXPERT_ID=714001
CRON_SECRET=
AUTOMATION_ENABLED=false
SIGNAL_TIMEFRAMES=M5,M15
